html body{
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    width: 80%;
}


h1{
    color: aqua;
}

#buttonPagina2{
    background-color: rgb(255, 188, 4);
    color: black;
    border-radius: 7px;
    padding: 0.6em;
}

#buttonPagina2:hover{
    background-color: red;
}

#buttotHomeP2{
    background-color: blueviolet;
    text-decoration: none;
    text-align: center;

}